<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}The Django Book{% endblock %}</title>
    <link rel="stylesheet" href="{{ pathto("_static/reset-min.css", 1) }}" type="text/css">
    <link rel="stylesheet" href="{{ pathto("_static/grids-min.css", 1) }}" type="text/css">
    <link rel="stylesheet" href="{{ pathto("_static/djangobook.css", 1) }}" type="text/css">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <h1><a href="/">The Django Book</a></h1>
        <div id="global-nav">
            <a class="about" href="/about/">About</a>
          |
            <a class="comment-help" href="/about/comments/">Comment help</a>
          |
            <a class="contact" href="/contact/">Contact us</a>
          |
            <a class="errata" href="/errata/">Errata</a>
          |
            <a class="buy"
              href="http://www.amazon.com/gp/product/1590597257?ie=UTF8&amp;tag=djangoproject-20&amp;linkCode=as2&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1590597257">
                Buy the print version on Amazon.com</a>
        </div>
        {% block hdnav %}{% endblock %}
      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="ft">
        {% block ftnav %}{% endblock %}
        Copyright Adrian Holovaty, Jacob Kaplan-Moss, et al.<br>This
        work is licensed under the <a href="/license/">GNU Free Document
        License</a>.
      </div>
    </div>
  {% block afterbody %}{% endblock %}
  </body>
</html>
